.content-container {
    display: inline-block;
    flex-direction: column;
    width: 80%;
    margin-left: 128px;
    text-align: center;
    
}

h1 {
    margin-left: 20px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas iguais */
    gap: 16px; /* espaço entre linhas e colunas */
    margin-bottom: 40px;
}

